In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
%%time
train_df = pd.read_csv('train.csv')
artist_df = pd.read_csv('artists.csv')
profile_df = pd.read_csv('profiles.csv')

Wall time: 20.8 s

In [3]:
profile_df.set_index('user', inplace=True)

In [4]:
profile_df.head()

                                         sex  age        country
user
fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d   f   25         Sweden
5909125332c108365a26ccf0ee62636eee08215c   m   29        Iceland
d1867cbda35e0d48e9a8390d9f5e079c9d99ea96   m   30  United States
63268cce0d68127729890c1691f62d5be5abd87c   m   21        Germany
02871cd952d607ba69b64e2e107773012c708113   m   24    Netherlands

In [5]:
%%time
profile_df = pd.concat([profile_df, pd.get_dummies(profile_df.sex)], axis=1)
profile_df = pd.concat([profile_df, pd.get_dummies(profile_df.country)], axis=1)
profile_df = pd.concat([profile_df, pd.get_dummies(profile_df.country)], axis=1)

Wall time: 6.34 s

In [6]:
profile_df.head()

,sex,age,country,f,m,Afghanistan,Albania,Algeria,American Samoa,Andorra,...,Vanuatu,Venezuela,Viet Nam,"Virgin Islands, British","Virgin Islands, U.s.",Wallis and Futuna,Western Sahara,Yemen,Zambia,Zimbabwe
user,,,,,,,,,,,,,,,,,,,,,
fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,f,25,Sweden,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5909125332c108365a26ccf0ee62636eee08215c,m,29,Iceland,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
d1867cbda35e0d48e9a8390d9f5e079c9d99ea96,m,30,United States,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
63268cce0d68127729890c1691f62d5be5abd87c,m,21,Germany,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
02871cd952d607ba69b64e2e107773012c708113,m,24,Netherlands,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0